@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

:root {
  --home-foreground: #FFFFFF;
  --home-foreground-nav: rgba(255, 255, 255, .05);
  --home-foreground-hover: rgba(255, 255, 255, .5);
  --home-foreground-25: rgba(255, 255, 255, .25);
  --home-foreground-oval-before: rgba(255, 255, 255, 0);
  --home-foreground-oval-after: rgba(255, 255, 255, .1);
  --home-midground: #D0D6F9;
  --home-background: #080D17;
  --detination-line: #383b4b;
}

body {

  /* 当屏幕比最大屏幕(1440*900)还大时 */
  @media screen and (min-width: 1440px) {
    width: 1440px;
    height: 900px;
    margin: 0 auto;
  }
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: white;
  /*取消浏览器默认样式*/
  margin: 0;
  padding: 0;
}

.font1 {
  font-family: 'Bellefair', serif;
  font-weight: 400;
}

.font2 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
}

.font3 {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
}